*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --clr-main-drk: #460F53;
  --clr-secondary: #E8D5B5; 
  --clr-main-light: #FEF7FF;
  --clr-main-medium: #A786AC;
  --rgb-main-medium: 167, 134, 172;

  --ff-logo: 'Dancing Script', cursive;
  --ff-main: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-main);
}

h1 {
  font-size: 2em;
  color: var(--clr-secondary);
  font-family: var(--ff-logo);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 0.5em 1.5em;
  background-color: var(--clr-main-drk);
  color: var(--clr-secondary);
  font-weight: 700;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-main-drk);
  box-shadow: 1px 1px 6px 0px var(--clr-main-medium);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}



/***** Header *****/

header {
  background-color: var(--clr-main-drk);
  display: flex;
  align-items: center;
  padding: 0 1em;
  position: relative;
  height: 70px;
}

.basket {
  display: flex;
  color: var(--clr-secondary);
  font-size: 1.2em;
  margin-left: auto;
  margin-right: 1em;
}

.basket__number {
  padding-right: 0.5em;
}


/* Nav styling for smaller screens */
.nav {
  position: absolute;
  left: 100%;
  width: 0;
  top: 100%;
  text-align: center;
  background-color: var(--clr-main-medium);
  transition: left 0.8s, width 0.8s;
  overflow: hidden;
  font-size: 1.2em;
  box-shadow: 0 -2px 3px var(--clr-secondary);
}

.nav.open {  
  left: 0;
  width: 100%;
}

.nav__links {
  list-style-type: none;
  display: hidden;
  padding: 30px;
}

.open .nav__links {
  display: inherit;
}

.nav__link {
  color: var(--clr-main-light);
  padding: 0.3em;
}

.nav__item + .nav__item {
  margin-top: 1em;
}

.nav__link:hover,
.nav__link:focus,
.basket:hover,
.basket:focus {
  outline: none;
  color: var(--clr-main-light);
  font-weight: 700;
}


/* Burger Menu for smaller screens*/
.nav-toggle {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.nav-toggle__line {
  height: 2px;
  width: 100%;
  display: block;
  position: absolute;
  background-color: var(--clr-secondary);
}

.nav-toggle__line:nth-child(1) {
  top: 0;
}

.nav-toggle__line:nth-child(2) {
  top: 10px;
  transition: 0.2s 0.6s ease-in-out; /* 1/4 of the animation time, starting after 3/4 of the time */
}

.nav-toggle__line:nth-child(3) {
  top: 20px;
}

.open .nav-toggle__line:nth-child(1) {
  top: 10px;
  animation: top-spin-open 0.8s linear forwards;
}

.open .nav-toggle__line:nth-child(2) {
  opacity: 0;
  transition: 0.2s ease-in-out; /* 1/4 of the animation time */
}

.open .nav-toggle__line:nth-child(3) {
  top: 10px;
  animation: bottom-spin-open 0.8s linear forwards;
}

.close .nav-toggle__line:nth-child(1) {
  top: 0px;
  animation: top-spin-close 0.8s linear forwards;
}

.close .nav-toggle__line:nth-child(3) {
  top: 0px;
  animation: bottom-spin-close 0.8s linear forwards;
}

@keyframes top-spin-open {
  0% {top: 0}
  25% {top: 10px; transform: rotate(0)}
  100% {top: 10px; transform: rotate(225deg)}
}

@keyframes bottom-spin-open {
  0% {top: 20px}
  25% {top: 10px; transform: rotate(0)}
  100% {top: 10px; transform: rotate(-225deg)}
}

@keyframes top-spin-close {
  0% {top: 10px; transform: rotate(45deg)}
  75% {top: 10px; transform: rotate(-180deg)}
  100% {top: 0; transform: rotate(-180deg)}
}

@keyframes bottom-spin-close {
  0% {top: 10px; transform: rotate(-45deg)}
  75% {top: 10px; transform: rotate(180deg)}
  100% {top: 20px; transform: rotate(180deg)}
}


/* Header styling changes for larger screens */
@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav,
  .open.nav {
    position: initial;
    width: fit-content;
    background-color: inherit;
    margin-left: auto;
    margin-right: 1em;
    box-shadow: none;
  }

  .nav__links,
  .open .nav__links {
    display: flex;
    padding: 0;
  }

  .nav__link {
    color: var(--clr-secondary);
  }

  .nav__item + .nav__item {
    margin-top: 0;
    margin-left: 0.7em;
  }

  .basket {
    margin: 0;
  }
}
/***** End of Header syling *****/

/***** Hero Image *****/
.hero-container {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--clr-main-medium);
  background-image: url('./images/hero-landscape.jpg');
  background-position: center;
  background-size: cover;
}

@media (max-width: 900px) {
  .hero-container {
    background-image: url('./images/hero-landscape-small.jpg');
  }
}

@media (orientation:portrait) {
  .hero-container {
    background-image: url('./images/hero-portrait.jpg');
  }
}
/***** End of Hero Image styling *****/


/***** Wine Cards  *****/
.main-section {
  margin-top: 2em;
}

.wine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
}

.card {
  /* box-shadow: 2px 2px 3px rgb(155, 155, 155); */
  box-shadow: 0px 1px 12px 0px var(--clr-secondary);
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* Used to create a 16:9 aspect ratio on the images */
  position: relative;
}

.card__img > img {
  position: absolute;
  top: 0;
}

.card__details {
  margin: 0.5rem 1rem;
}

.wine-name {
  color: var(--clr-main-drk);
}

.card__details--bottom {
  margin-top: auto; /* Needed so that all the wine details align at the bottom of the cards */
}

.wine-details {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.wine-glass-container {
  position: relative;
}

.wine-glass {
  font-size: 2em;
  margin-left: 1em;
  cursor: pointer;
}

.wine-glass-tooltip {
  position: absolute;
  left: 115%;
  top: 5%;
  background: var(--clr-secondary);
  padding: 0.3em 0.8em;
  border-radius: 10px;
  width: max-content;
}

.wine-glass-tooltip::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -5px;
  border: solid 5px transparent;
  border-right-color: var(--clr-secondary);
}

.card__buttons {
  text-align: center;
  margin: 1em 0;
}

button + button {
  margin-left: 2em;
}


/***** Modal *****/
.modal-container {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
	background-color: rgba(var(--rgb-main-medium), 0.7);
}


.modal {
  background-color: white;
  width: 95%;
  max-width: 550px;
  margin: 50px auto;
  padding: 1em;
}

.modal__wine-name {
  color: var(--clr-main-drk);
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0.5rem;
}

.modal__price {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  margin: 0.5em 0;
}

.modal__description > p {
  text-align: justify;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.modal__wine-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
}

.modal__wine-glass-container {
  position: relative;
}

.modal__wine-glass {
  font-size: 2em;
  margin-left: 0;
}

.modal__country,
.modal__abv {
  font-size: 1.2em;
  font-weight: 700;
}

.modal__buttons {
  text-align: center;
}

/* Modal for larger screens */
@media (min-width: 700px) {
  .modal {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    max-width: 750px;
  }

  .modal__img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    max-width: 350px;
  }

  .modal__wine-name {
    margin: 0 20px;
    font-size: 2em;
  }

  .modal__buttons {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
  }

  .modal__description {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin: 1em 1em 0 1em;
  }

  .modal__wine-info {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    width: 500px;
    margin: 0 auto 1em;
  }

  
}
