*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --clr-main-drk: #460F53;
  --clr-secondary: #E8D5B5; 
  --clr-main-light: #FEF7FF;
  --clr-main-medium: #A786AC;

  --ff-logo: 'Dancing Script', cursive;
  --ff-main: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-main);
  /* width: 100vw; */
}


h1 {
  font-size: 2em;
  color: var(--clr-secondary);
  font-family: var(--ff-logo);
}

header {
  background-color: var(--clr-main-drk);
  display: flex;
  align-items: center;
  padding: 1em;
  position: relative;
  /* width: 100%; */
  
}

.basket {
  display: flex;
  color: var(--clr-secondary);
  font-size: 1.2em;
  margin-left: auto;
  margin-right: 1em;
}

.basket__number {
  padding-right: 0.5em;
}

/* Burger Menu */
.nav-toggle {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.nav-toggle__line {
  height: 2px;
  width: 100%;
  display: block;
  position: absolute;
  background-color: var(--clr-secondary);
}

.nav-toggle__line:nth-child(1) {
  top: 0;
}

.nav-toggle__line:nth-child(2) {
  top: 10px;
  transition: 0.2s 0.6s ease-in-out; /* one quarter of the annimation time */
}

.nav-toggle__line:nth-child(3) {
  top: 20px;
}

.open .nav-toggle__line:nth-child(1) {
  top: 10px;
  animation: top-spin-open 0.8s linear forwards;
}

.open .nav-toggle__line:nth-child(2) {
  opacity: 0;
  transition: 0.2s ease-in-out; /* one quarter of the annimation time */
}

.open .nav-toggle__line:nth-child(3) {
  top: 10px;
  animation: bottom-spin-open 0.8s linear forwards;
}

.close .nav-toggle__line:nth-child(1) {
  top: 0px;
  animation: top-spin-close 0.8s linear forwards;
}

.close .nav-toggle__line:nth-child(3) {
  top: 0px;
  animation: bottom-spin-close 0.8s linear forwards;
}

@keyframes top-spin-open {
  0% {top: 0}
  25% {top: 10px; transform: rotate(0)}
  100% {top: 10px; transform: rotate(225deg)}
}

@keyframes bottom-spin-open {
  0% {top: 20px}
  25% {top: 10px; transform: rotate(0)}
  100% {top: 10px; transform: rotate(-225deg)}
}

@keyframes top-spin-close {
  0% {top: 10px; transform: rotate(45deg)}
  75% {top: 10px; transform: rotate(-180deg)}
  100% {top: 0; transform: rotate(-180deg)}
}

@keyframes bottom-spin-close {
  0% {top: 10px; transform: rotate(-45deg)}
  75% {top: 10px; transform: rotate(180deg)}
  100% {top: 20px; transform: rotate(180deg)}
}
/* End of Burger Menu */


.nav {
  position: absolute;
  left: 100%;
  width: 0;
  top: 100%;
  text-align: center;
  background-color: var(--clr-main-medium);
  transition: 0.8s linear;
  overflow: hidden;
  font-size: 1.2em;
  
}

.nav.open {  
  left: 0;
  width: 100%;
}


.nav__links {
  list-style-type: none;
  display: hidden;
  padding: 30px;
  /* display: flex */
}

.open .nav__links {
  display: inherit;
}

.nav__link {
  text-decoration: none;
  color: var(--clr-main-light);
  padding: 0.3em;
}

.nav__item + .nav__item {
  margin-top: 1em;
  /* margin-left: 0.7em; */
}
